{{define "content"}}
    {{range .branches}}
        <h2>{{.Name}}</h2>
        <ul>
            {{range .Commits}}
                <li>
                    {{if .Success}}✅{{else}}❌{{end}}
                    <a href="{{commitUrl $.projectName .Hash}}" class="code ph1">{{short .Hash}}</a>
                    <span class="pr1">{{.Message}}</span>
                    <span class="gray i">{{.Time.Format "Jan 2, 3:04 PM"}}</span>
                </li>
            {{end}}
        </ul>
    {{end}}
{{end}}
